/* Your custom css code goes here */

.rsound-logo {
    float: left;
    height: 70px;
    margin-top: -15px
}

.probootstrap-footer.probootstrap-bg a.grey_link {
    color: rgba(255, 255, 255, .4)
    
}    
.red {
    color: #bc0001
}

.probootstrap-right-nav {
right: -100px
}

.grey {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grey:hover{
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.probootstrap-cta1 {
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    padding: 50px 0;
    float: left;
    width: 100%
}

.bottom_line{
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    }

.gototop.active {
    opacity: 1;
    visibility: visible;
    bottom: 65px;
}

.bordertop-none{
    border-top: none
    
}

.probootstrap-cta2 {
    border-bottom: none;
    padding: 10px 0;
    float: left;
    width: 100%
}

.probootstrap-section1 {
    padding-top: 30px;
    padding-bottom: 5px;
    position: relative;
    z-index: 2;
}

.bottom_line{
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    }